@import "partials/setup";
@import "partials/variables";
@import "partials/typography";
@import "partials/addJobForm";
@import "partials/jobFeed";
@import "partials/fullJob";
@import "partials/search";
@import "partials/login";
@import "partials/userBar";


.wrapper {
  position: relative;
}

button{
  background-color: $primaryRed;
  border:0;
  border-radius:0;
  padding:10px 20px;
  color:white;
  text-transform: uppercase;
}

input[type=radio]{
  width: 25%;
}

input[type=text]{
  display: block;
}
