@import "partials/setup";
@import "partials/variables";
@import "partials/typography";
@import "partials/addJobForm";
@import "partials/jobFeed";
@import "partials/fullJob";
@import "partials/search";
@import "partials/login";
@import "partials/userBar";
@import "partials/sideNav";
@import "partials/signInPage";
@import "partials/keywords";


.wrapper {
  position: relative;
  background-color: $tertiaryGrey;
}

.action{
  background-color: $primaryRed;
  border:0;
  border-radius:0;
  padding:10px 20px;
  color:white;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

input[type=radio]{
  width: 25%;
}

input[type=text]{
  display: block;
}

.login-wrapper {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/main-image.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: anitaliased;
}

p {
  margin: 0;
}
h1 {
  font-family: "Akkurat", sans-serif;
  color: $tertiaryGrey;
  text-align: center;
  font-size: 72px;
}

.tabContainer {
  height: 100vh;
}

.jobForm {
  background: $tertiaryGrey;
  padding: 100px;
  p {
    padding: 25px 0;
  }
  button {
    position: absolute;
    top: -40px;
    right: 0;
    background: transparent;
    border: none;
    img {
      width: 20px;
    }
  }
}

.inputGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.formTextInput {
  width: calc(50% - 10px);
  margin: 0 10px 10px 0;
  input {
    width: 100%;
    position: relative;
    padding: 10px;
  }
  label {
    position: absolute;
    left: 0;
    visibility: hidden;
  }
  select#jobLocation {
    width: 100%;
    height: 40px;
  }
}