@import "partials/setup";
@import "partials/variables";
@import "partials/typography";
@import "partials/addJobForm";
@import "partials/jobFeed";
@import "partials/fullJob";
@import "partials/search";
@import "partials/login";
@import "partials/userBar";


.wrapper {
  position: relative;
}

.search{
  // clear:both;
  width: 100%;
    background: #444444;
}
.tab-container{
  position: relative;
}
.job-feed-container{
 background-color:pink;
//  position: absolute;
}

.job-feed{
  overflow-y:scroll;
  height:50vh;
  width: 50%;
}
.job-preview{
  background-color:green;
  padding: 0 4%;
  border-top:3px solid #F6F7F9;
}
.active{
  background-color:#F6F7F9;
}
.full-job{
  width: 50%;
  padding: 2%;
  background-color:#F6F7F9;
  // position: absolute;
  // top:0;
  // right:0;
}
button{
  background-color: #E40015;
  border:0;
  border-radius:0;
  padding:10px 20px;
  color:white;
  text-transform: uppercase;
}

input[type=radio]{
  width: 25%;
}
input[type=text]{
  display: block;
}
