.jobForm {
  background: $tertiaryGrey;
  padding: 60px 100px;
  p {
    padding: 15px 0 0px;
    line-height: 1.2;
  }
  button {
    position: absolute;
    top: -40px;
    right: 0;
    background: transparent;
    border: none;
    img {
      width: 20px;
    }
  }
}

#addJobForm {
  position: relative;
  .keywordContainerAddJob{
    background: white;
    padding: 0px 0px 0px 13px;
    margin-bottom: 10px;
    p{
      font-variant: normal;
      color: $primaryGrey;
    }
  }
  .keywords-container{
    padding: 20px 0px 20px 0px;
  }
  .inputGroup{
    padding: 20px 0px;
  }
}

.jobCommitmentContainer {
  padding: 13px 20px;
  div{
    display: inline;
  }
}

input[type='radio']:focus {
  outline: none;
}
input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 5px;
    left: 3px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    border: 3px solid white;
}
input[type='radio']:checked:after {
    background-color: $primaryRed;
}

@media (max-width: 767px){
  .jobForm {
    padding: 30px 15px;
  }
  .jobCommitmentContainer {
    div{
      display: block;
    }
  }
}