.fullJob{
  width: 50%;
  padding: 2%;
  background-color: $tertiaryGrey;
  position: absolute;
  top:0;
  right:0;
  .jobTitle {
    font-size: 30px;
  }
  .companyName {
      color: $primaryRed;
  }

}