.tab-container{
  position: relative;
  height:calc(100vh - 100px);
}
.job-feed-container{
 background-color: $tertiaryGrey;
 position: relative;
 display: flex;
  max-height: calc(100vh - 100px);
}

.job-feed{
  overflow-y:scroll;
  width: 50%;
  -webkit-font-smoothing:antialiased;
    &:after{
      clear:both;
      content:'';
      display:table;
    }
    .showing-job{
      background-color: $tertiaryGrey;
      button{
        background-color: $tertiaryGrey;
      }
      border-left:12px solid $darkGrey;
    }
}
.job-preview {
    background: white;
    color:$textGrey;
    font-size: 12px;
    font-weight: bold;
    border-left:12px solid white;

    &:after{
      clear:both;
      content:'';
      display:table;
    }

    .left, .right{
      float:left;
      padding: 3% 0;
    }
    .left{
      padding-left: 2%;
      width: 70%;
    }
    .right{
      width: 26%;
      padding-right:2%;
    }
}

.job-title{
  font-size: 18px;  
  line-height:24px;  
}

.posted-on{
  font-size: 11px;
  font-style: italic;
  font-weight:normal;
  text-align: right;
}

.icon{
  cursor:pointer;
  border:none;
  img{
    display: inline-block;
    height: 22px;
  }
}
.icon-container{
  padding-top:8px;
  float:right;
  button.icon{
    outline:none;
  }
}
.icon-approve{
  height: 20px;
}

.job-preview-recent{
  border-left: 12px solid $primaryRed;
}

.job-feed .active{
  background-color: $tertiaryGrey;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.applyNow{
  margin-top: 15px;
}

@media (max-width: 630px){
  .job-feed{
      width: 100%;
      overflow-y: inherit;
      .showing-job {
        border-left: 6px solid #231F1F;
      }
      
  }
  .job-preview{
    padding: 12px 6px;
    border-left: 6px solid white;
    .right, .left{
      padding: 2px 0 2px 0px;
    }
    .right{
      width: 25px;
    }
    .left{
      width: calc(100% - 25px);
    }
    .icon-container{
      float: none;
      display: flex;
      justify-content: flex-end;
      button.icon{
        padding: 0px;
      }
    }
    .posted-on{
      padding-top: 4px;
      text-align: left;
    }
    .company-name{
      color:$primaryRed;
    }
    .job-location, .job-description{
      font-weight: normal;
    }
    .job-description{
      line-height: 1.4;
    }
    .fullJobMobile{
      clear: both;
      padding-top: 20px;
    }
  }
  .job-preview-recent {
    border-left: 6px solid #E40015;
}
}