// all of this is temporary - feel free to override

.side-nav{
    z-index: 90;
    background: $tertiaryGrey;
    right: 0;
    height: 100vh;
    position: absolute;
    min-width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    button{
      background-color: $tertiaryGrey;
      border:none;
      width: 100%;
    }
    a, button{
      text-align: center;
      color:$darkGrey;
      text-decoration: none;
      border-bottom:0;
      display: block;
      padding:20px;
      margin:20px auto;

      &:focus, &:hover{
        color:$primaryRed;
      }

    }
}
