@font-face {
  font-family: "Akkurat";
  src: url("../../../fonts/Akkurat.ttf") format("truetype");
  src: url("../../../fonts/Akkurat.woff") format("woff");
  src: url("../../../fonts/Akkurat.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("../../../fonts/Akkurat-Bold.ttf") format("truetype");
  src: url("../../../fonts/Akkurat-Bold.woff") format("woff");
  src: url("../../../fonts/Akkurat-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Akkurat";
  src: url("../../../fonts/Akkurat-Italic.ttf") format("truetype");
  src: url("../../../fonts/Akkurat-Italic.woff") format("woff");
  src: url("../../../fonts/Akkurat-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

* {
    font-family: "Akkurat", sans-serif;
}