.userBar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background: $darkTertiaryGrey;
    .logo {
        width: 95px;
        padding:20px;
        img {
            max-width: 100%;
        }
    }
    .hamburgerSideNav, .sideNavEx{
        z-index: 100;
        top:20px;
        right:50px;
        position: absolute;
        height:40px;
        width: 40px;
        &:hover, &:focus{
            cursor:pointer;
        }
    }
    .hamburgerSideNav{
      img{
        height:40px;
        width: 40px;
      }
    }
    .sideNavEx{
        text-align: center;
        img{
            margin-top: 10px;
            height: 20px;
            width: 20px;
            &:hover, &:focus{
                border:1px dotted black;
            }
        }
    }
}